<app-cricHeader></app-cricHeader>
<main>
    <app-select-cricketer></app-select-cricketer>
    <app-selectedCricketer-list></app-selectedCricketer-list>
</main>

<!-- implementation for Output from one module to input to other module using 2 way/data_binding and Event emitter approach.
  <app-cricHeader></app-cricHeader>
<main>
    <app-select-cricketer (cricketerCreated2)= "onAddSelCricketer($event)"></app-select-cricketer>
    <app-selectedCricketer-list [selectedCricketerVar]="selectedCricketer"></app-selectedCricketer-list>
</main> -->
<!--
  when just adding the "app" element as part of parent reference
  <app-cricHeader></app-cricHeader>
<main>
    <app-select-cricketer></app-select-cricketer>
    <app-selectedCricketer-list></app-selectedCricketer-list>
</main> -->



